::ng-deep .my-menu {
  max-width: none !important;
  width: 25em;
  padding-left: 1em;
  padding-right: 1em;
}

.notification{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  width: 100%;
}

.read{
  background-color: #f1f1f1;
}

.unread{
  background-color:lightgray;
}

.show-time{
  font-size: x-small;
}

.read-btn{
  margin-top: 0.5em;
  width: 100%;
}

.flex-row{
  display: flex;
  align-items: center;
}

.color-icon{
  color: gray !important;
}

.width-100{
  width: 100%;
}