.landing-page-body{
  width: 100%;
  height: 100%;
  background-image: url(../../assets/landing-page-bg.jpg);
  background-size: cover;
  opacity: 90%;
}

.branding-text{
  color: wheat;
  font-size: x-large;
  font-weight: 500;
  line-height: 1.5em;
}

.branding-text-section{
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1em;
  width: fit-content;
  margin: 15% 25%;
  position:absolute;
}