<mat-toolbar color="primary" class="mat-elevation-z2">
  <button mat-button routerLink="/">
    <mat-icon>polymer</mat-icon>
    <span class="home-btn">{{brandName}}</span>
  </button>
  <div class="nav-spacer"></div>
  <div *ngIf="loggedIn; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <a mat-button>LoggedIn</a>
  </ng-template>
  <ng-template #elseBlock>
    <a mat-raised-button routerLink="login">Login</a>
    <a mat-raised-button routerLink="signup" class="margin-left" color="accent">Signup</a>
  </ng-template>
</mat-toolbar>