<mat-card fxLayout="column" class="intro-body">
  <h2>Bio</h2>
  <p>{{userdetails.bio}}</p><hr>
  <h2>Intro</h2>
  <div *ngFor="let work of userdetails.work">
    <div fxLayout="row">
      <mat-icon class="margin-right">work</mat-icon>
      <p>
        <span *ngIf="!work.iscurrent">Former </span>
        {{work.position}} at {{work.company}}
      </p>
    </div>
  </div>
  <div *ngFor="let school of userdetails.school">
    <div fxLayout="row">
      <mat-icon class="margin-right">school</mat-icon>
      <p>
        <span *ngIf="!school.iscurrent">Studied </span>
        <span *ngIf="school.iscurrent">Studies </span>
        {{school.degree}} at {{school.institute}}
      </p>
    </div>
  </div>
  <div fxLayout="row">
    <mat-icon class="margin-right">favorite</mat-icon>
    <p>
      {{userdetails.relationship}}
    </p>
  </div>
  <div fxLayout="row">
    <mat-icon class="margin-right">home</mat-icon>
    <p>
      Lives in {{userdetails.livesin}}
    </p>
  </div>
  <div fxLayout="row">
    <mat-icon class="margin-right">location_on</mat-icon>
    <p>
      From {{userdetails.hometown}}
    </p>
  </div>
</mat-card>